.nav-categorias{
    width: 18%;
    
}
.list-categorias{
    padding-left: 30px;
    padding-right: 30px;
}

.list-categorias-li-titulo{
    font-weight: bold;
    list-style:none;
    margin-bottom: 20px;
    color: rgb(39, 39, 39);

}
.list-categorias-li{
    list-style:none;
    margin-bottom: 10px;
    color: rgb(39, 39, 39)
}
.link{
    color: black;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
.siguiente{
    font-size: 20px;
}
