.section-creacion-producto{
    background: linear-gradient(#21C08B, #AB88FF);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    min-height: calc(100vh - 200px);
    margin: 0;
     font-family: "Muli", sans-serif;
}
.contenedor-formulario{
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 450px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.form-crear-producto{
    display: flex;
    flex-direction: column;
}
.input{
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-size: 16px;
    font-family: "Muli", sans-serif;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    color: white;
    height: 50px;
}

  /* #src-file::before {
    content: 'Seleccionar Archivo';
  } */

::placeholder{
    color: white;
}
.option{
    color: black;
}
.button{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius:25px; 
    color: white;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: bold;
    font-family:"Muli", sans-serif ;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}