.header-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}
.titulo-header{
    padding-left: 10px;
    color: rgb(39, 39, 39);
}
.nav-header{
    padding-right: 10px;

}
.nav-list{
    display: flex;
}
.nav-list-li-titulo{
    font-weight: bold;
    margin-right: 25px;
    list-style:none;
    color: rgb(39, 39, 39);

}
.nav-list-li{
    margin-right: 25px;
    list-style:none;
    color: rgb(39, 39, 39);

}
.link{
    color: black;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}