.titulo-home{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 50px;
    color: rgb(39, 39, 39);
    text-align: center;

}